@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efede4;
}

.event-line::after {
  content: "";
  width: 10%;
  border: 2px solid #14532d;
  position: absolute;
  transform: translatey(-50%);
}

@font-face {
  font-family: "Glacier";
  src: url("/fonts/glacier.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
